@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body{
	font-family: 'Oswald', sans-serif;
	overflow-x: hidden;
    background: #7ed6df;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.slider{
    position: relative;
}
 .block {
    padding: 10px;
}
.section-product{
    margin: 50px 0px;
}
 .block .img{
    position: relative;
}
.block .sotap{
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
}
 .block .sotap p{
    padding: 5px 8px;
    margin: 0;
    color: #ffffff
}
 .block img{
    width: 100%;
    height: auto;
    margin: auto;
}
.text-block{
    width: 100%;
    box-shadow:3px 3px 5px rgba(0,0,0,0.2);
}
.slick-prev,.slick-next{
    z-index: 9999;
    width: 80px !important;
    height: 80px !important;
    background: red !important;
    border-radius: 100%;
    color: black !important
}
.title-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-section a{
    color: red;
}
.slick-prev{
    background: transparent url(../images/icons8-prev-100.png) no-repeat center !important;
    left:-95px !important;
}
.slick-prev:before{
    content: '';

}
.slick-next{
    background: transparent url(../images/icons8-right-button-100.png) no-repeat center !important;
    right:-95px !important;
}
.slick-next:before{
    content: '';

}

.bgblur{
    width: 100%;
    height: 100%;
    margin: 5px 0px;
    background: #000 url("../images/photo-1-1586245757392958255014.jpg") no-repeat  center;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-size: cover;


}


@keyframes animate{
    0%{
        transform: translateY(-1%);
    }
    100%{
        transform: translateY(0%);
    }
}

#new{
    position: absolute;
    right: 10%;
    top: 4%;
    width: 100px;
    z-index: 100;
}
.boxcenter{
	width: 1140px;
	margin: 0 auto;
}
/*navbar*/
.bg-navbar-mysite {
	background: #ffc107;
}
.navbar-dark .navbar-nav .nav-link  {
	font-size: 16px;
	color: #d82329;
}
.nav-top .nav-item .nav-link{
	color: white !important;
	font-size: 12px;
}

.bg-dark-mysite{
	background: #212529;
}
.btn-mysite {
	color: #d82329;
	background: #ffeaa7;
}
.btn-mysite:hover {
	opacity: 0.8;
}

/*news*/
.news{
	padding: 1px;
}
.menuNews li{
	list-style-type: none;
	margin-top: 15px;
}
.menuNews li span{
	font-size: 13px;
	padding: 2px 5px;
	background: #e53935;
	color: #fff;
	border-radius: 2px;
}
.menuNews li a{
	font-size: 15px
}
/*main*/
#main{
	padding: 15px 0px;
    height: auto;
}
.nav-dm li {
	list-style-type: none;
	background: #fff;
}
.block-noidung{
    border-bottom: 2px solid #747d8c;
}
.productrelative{
    border-bottom: 2px solid #747d8c;
}
.nav-dm li ul li{
	position: relative;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.title-dm{
	position: relative;
    color: #3A3B3C;
    padding: 1rem .75rem;
    padding-left: 2rem;
    margin-bottom: 0;
    border-top: 3px solid #ffc107;
    font-size: .8rem;
    box-shadow: 0 1px 1px #ddd;
    background: #fff;
}
.imgitem{
	display: inline-block;
    width: 100%;
    height: auto;
}
.title-dm::before{
	content: '';
    position: absolute;
    top: 1.5rem;
    left: .75rem;
    height: .4rem;
    width: .4rem;
    margin-top: -0.2rem;
    background-color: #ffc107;
    border-radius: 50%;
}
.title-dm::after{
	content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 1rem;
    background-color: #ffc107;
}
.nav-dm li a{
	font-size: 13px;
	color: #3A3B3C;
}
.nav-list li:hover {
	background: #fdcb6e;
	opacity: 0.8;
}
.nav-list li a img{
	display: inline-block;
    position: absolute;
    top: .75rem;
    left: .75rem;
    width: 1rem;
    height: 1rem;
}

/*box col-4 right*/
.box1r{
    box-shadow: 0px 5px 5px rgba(0,0,0,0.6);
    margin-bottom: 8px;
    border-radius: 5px;
}
.box1r img{
	width: 100%;
	height: auto;

}
.box1r a{
	font-size: 16px;
	color: #00b894;
}

/*gioi thieu*/
#about{
	background: #fff;
}
.titleAb::before{
	content: '';
    position: absolute;
    top: 1.5rem;
    left: 1.2rem;
    height: .4rem;
    width: .4rem;
    margin-top:-0.8px;
    background-color: #0984e3;
    border-radius: 50%;
}
.titleAb::after{
	content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 1.6rem;
    background-color: #0984e3;
}
.titleAb{
	position: relative;
    color: #3A3B3C;
    padding: 1rem .75rem;
    padding-left: 2rem;
    margin-bottom: 10px;
    border-top: 5px solid #0984e3;
    font-size: 1rem;
    box-shadow: 0 1px 1px #ddd;
    background: #fff;
}
.flexAb{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px 30px;
}
.boxAbout{
	position: relative;
	/*box-shadow: 0 30px 30px rgba(0,0,0,.5);*/
}
.boxAbout img{
    width: 100%;
    height: 500px;
}
/*.boxAbout .imgbx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.boxAbout .imgbx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s;
}
.boxAbout:hover .imgbx img{
	opacity: 0;
}*/
.boxAbout .contentAb{
	position: absolute;
	bottom: 20px;
	left: 20%;
	width: 60%;
	height: 40px;
	background: #fff;
	transition: 0.5s;
	padding: 15px;
	overflow: hidden;
	box-sizing: border-box;
}
.boxAbout:hover .contentAb{
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
}

.contentAb h3{
	padding: 0;
	margin: 0;
	font-size: 15px;
	text-align: center;
	line-height: 10px;
	color: #e1b12c;
}
.contentAb p{
	margin: 10px 0 0;
	padding: 0;
	opacity: 0;
	line-height: 1.2em;
	transition: 0.5s;
	text-align: justify;
}
.boxAbout:hover .contentAb p{
	opacity: 1;
}
/*slideshow*/
.mySlides {
    display: none;
    height: 400px;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/*san pham*/
#sanphamnew{
	margin-top: 15px;
}
.titleSp::before{
	content: '';
    position: absolute;
    top: 1.5rem;
    left: 1.2rem;
    height: .4rem;
    width: .4rem;
    margin-top:-0.8px;
    background-color: #4cd137;
    border-radius: 50%;
}
.titleSp::after{
	content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 1.6rem;
    background-color: #4cd137;
}
.titleSp{
	position: relative;
    color: #3A3B3C;
    padding: 1rem .75rem;
    padding-left: 2rem;
    margin-bottom: 10px;
    border-top: 5px solid #4cd137;
    font-size: 1rem;
    box-shadow: 0 1px 1px #ddd;
    background: #fff;
}
.boxsp{
    position: relative;
	box-shadow: 5px 10px 10px rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: #ffffff;
    overflow: hidden;
}
.imgbxSp img{
    height: auto;
}

.link-content{
    font-size: 16px;
    text-align: center;
}

.info{
	text-align: center;
}
.info p {
	color: #ffffff;
	font-size: 13px;
}
.info a{
	padding: 3px 5px;
	background: #fff;
	color: #000;
	border-radius: 3px;
	text-decoration: none;
}
.info a:hover{
	color: #ffd32a;
	background: #3c40c6;
}
.star i{
	color: #ffd32a;
}
.contentSp h3{
	padding: 0;
	margin: 0;
	font-size: 15px;
	text-align: center;
	/*line-height: 10px;*/
	color: #ffc048;
}
.contentSp h4{
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-align: center;
    /*line-height: 10px;*/
    color: #f53b57  ;
}
.contentSp h5{
	margin: 10px 0 0;
	padding: 0;
	opacity: 0;
	line-height: 1.2em;
	transition: 0.5s;
	color: #fdcb6e;
}
/*collection*/
.titleCol::before{
	content: '';
    position: absolute;
    top: 1.5rem;
    left: 1.2rem;
    height: .4rem;
    width: .4rem;
    margin-top:-0.8px;
    background-color: #f53b57;
    border-radius: 50%;
}
.titleCol::after{
	content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 1.6rem;
    background-color: #f53b57;
}
.titleCol{
	position: relative;
    color: #3A3B3C;
    padding: 1rem .75rem;
    padding-left: 2rem;
    margin-bottom: 10px;
    border-top: 5px solid #f53b57;
    font-size: 1rem;
    box-shadow: 0 1px 1px #ddd;
    background: #fff;
}
#mainImg{
    height: 500px;
    width: 100%;
}
#gallery{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0px 10px
}
#gallery img{
    width: 200px;
    height: 150px;
    margin: 10px 5px;
    filter: grayscale(100%);
   transition: .6s;
}
/*contact*/
.titleCot::before{
	content: '';
    position: absolute;
    top: 1.5rem;
    left: 1.2rem;
    height: .4rem;
    width: .4rem;
    margin-top:-0.8px;
    background-color: #3c40c6;
    border-radius: 50%;
}
.titleCot::after{
	content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 1.6rem;
    background-color: #3c40c6;
}
.titleCot{
	position: relative;
    color: #3A3B3C;
    padding: 1rem .75rem;
    padding-left: 2rem;
    margin-bottom: 10px;
    border-top: 5px solid #3c40c6;
    font-size: 1rem;
    box-shadow: 0 1px 1px #ddd;
    background: #fff;
}
#demoForm input[type='text']{
    height: 50px;
    padding: 5px 10px;
}
#demoForm  textarea{
    padding: 5px 10px;
}
#demoForm input[type="text"],#noidung{
    display: block;
    width: 100%;
    border-radius: 15px;
    margin-top: 15px;
    border: 1px solid #000000;

}
.error {
    color: #c0392b;
  }
#demoForm input[type="submit"]{
    width: 80px;
    height: 30px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #000000;
    margin:10px 140px;
    border-radius: 10px;
}
#demoForm input[type="submit"]:hover{
	background: #000;
	color: #fff;
}
.scrolltop{
    position: fixed;
    bottom: 80px;
    right: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #10ac84;
    border-radius: 100%;
    color: #ffffff;
    display: none;
}
.scrolltop:hover{
    background: #ee5253;
}
.cart{
	position: relative;
	padding: 5px 15px;
    border-radius: 5px;
    border: 1px #b8e994 solid;
    z-index: 999;
    background-color: #78e08f;
}
.cart img {
    float: left;
}
#countsp{
	float: left;
    font-size: 18pt;
    color: red;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    font-weight: bold;
}
.cartlist{
	position: absolute;
    right: 20px;
    top: 50px;
    background-color: #FFF;
    z-index: 9999;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px #996600 solid;
}
a.close {
    float: right;
    color: #FFF;
    background-color: #F00;
    padding: 2px 5px;
    border-radius: 5px;
    text-decoration: none;
}

a.close:hover {
    opacity: 0.8;
}
table {
    border-collapse: collapse;
}

td {
    padding: 5px 10px;
}
.product{
    box-shadow: 2px 2px 5px rgb(0,0,0,0.7)
}
.menucate{
    box-shadow: 3px 3px 5px #FFEB3B;
    background: #FFEB3B;
}
.menucate h2{
    color: #0984e3;
}
.menucate nav a{
    text-decoration: underline;
    color: #d63031;
}
.info-product{
    background-image: linear-gradient(to right, #525252 , #666);
    padding: 20px 10px;
}
.content{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 120px;
}
.content h5{
    margin-bottom: 15px;
}
.content h1{
    margin-bottom: 15px;
}
.control{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 150px;
}
.control a:first-child{
    padding: 10px 12px;
    border-radius: 20px;
    color: #ffffff;
    background: #ff5454;
    text-decoration: none;
}
.control a{
    padding: 10px 12px;
    color: #ffffff;
    border: 1px solid #ffffff;
    margin-left: 10px;
    border-radius: 100%
}
.control a:first-child:hover{
    color:#ff5454;
    background: #ffffff;
    border-color: #ff5454;
}
.control a:hover{
    color:#0984e3;
    border-color: #0984e3 ;
}
.text-description{
    font-size: 26px;
}
.text-noidung{
    padding-bottom: 50px;
    border-top: 2px solid #747d8c;
    border-bottom: 2px solid #747d8c;
}
.maincontent{
    width: 900px;
    margin: 0 auto;
}

.image-content{
    width: 100%;
}
.image-content img{
    width: 100%;
    height: auto;
}
.topbar{
    background: #2d3436;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px 50px;
    width: 900px;
    height: 80px;
    position: fixed;
    left: 50%;
    top: 0;
    line-height: 80px;
    transform: translateX(-50%);
    z-index: 15;
    transition: 0.5s;
}
.topbar h1{
    font-size: 32px;
    color: #ffffff;
    line-height: 80px;
}
.icon-feature a{
    font-size: 28px;
    margin-left: 10px;
    color: #ffffff;
}
.bottombar{
    background: #2d3436;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px 50px;
    width: 900px;
    height: 80px;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 15;
    transition: 0.5s;
}
.bottombar a{
    font-size: 50px;
    color: #ffffff;
}
.page-link {
    color: #00657b;
    text-align: center;
}
.pagegi{
    display: inline-block;
    margin-left: 30px;
    width: 100%;
}
.title-category{
    width: 100%;
    display: inline-block;
    padding: 6px 15px;
}
.nav-cate a{
    color: #182C61;
}
.nav-cate a:hover{
    color: #b33939;
}
.postshow img{
    width: 100%;
    height: auto;
}
.postshow p {
    font-size: 24px;
}
@media only screen and (max-width: 1919px) {
    .maincontent{
        width: 800px;
    }
    .topbar{
        width: 800px;
    }
    .bottombar{
        width: 800px;
    }
}
@media only screen and (max-width: 1279px) {
    .maincontent{
        width: 700px;
    }
    .topbar{
        width: 700px;
    }
    .bottombar{
        width: 700px;
    }
}
@media only screen and (max-width: 1279px) {
    .maincontent{
        width: 500px;
    }
    .topbar{
        width: 500px;
    }
    .bottombar{
        width: 500px;
    }
}
